{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "config": "./build/config",
          "models": "./build/models",
          "controllers": "./build/controllers",
          "middlewares": "./build/middlewares",
          "services": "./build/services",
          "utils": "./build/utils",
          "routes": "./build/routes"
        }
      }
    ]
  ]
}
