{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "config": "./config",
          "routes": "./routes",
          "utils": "./utils",
          "middlewares": "./middlewares",
          "models": "./models",
          "services": "./services",
          "controllers": "./controllers"
        }
      }
    ]
  ]
}
